nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 10px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo{
    color: #d35d0e;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: aliceblue;
    transition: o.3s ease-in-out;
}

#navbar li a.active,
    #navbar li a:hover{
    color: #d35d0e;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: " ";
    width: 30%;
    height: 2px;
    background-color: #d35d0e;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#mobile{
    color: aliceblue;
}

@media screen and (max-width:769px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 69px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #0c2650;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    
    #mobile {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    
}